


*{
    font-size: 16px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    
    

}
.navbar ul a {
    text-decoration: none;
    color: black;
    
}


.news {
    display: flex;


}

.news img {
    width: 53%;
    height: 20%;
    margin-left: 100px;
    margin-top: -15px;
}

aside {
background-color: black;
color: white;    
margin-top: -15px;
margin-right: 100px;
margin-left: 20px;
padding: 15px;
}

aside h1 {
    color: papayawhip;
    font-size: 25px;
    margin-top: 0;
}

aside h3 {
    font-size: 18px;
}

aside p {
    font-size: 14px;
    color: grey;
}

aside hr {
    color: grey;
}




.u-image {
    display: flex;
    margin-left: 100px;
    margin-top: -150px;
    max-width: 53%;
}

.title {
    width: 45%;
}
.title h1 {
    font-size: 45px;
    font-weight: bolder;
    

}
.text {
    width: 55%;
    margin-top: 25px;
}

.text button {
    background-color: hsl(5, 85%, 63%);
    color: black;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    width: 150px;
    height: 35px;
    padding: 5px 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

}



/*first image */
.container-image1 {
    display: flex;
    margin-left: 100px;
    margin-top: -25px;
    width: 33%;
}

.image-1 img {
    width: 100px;
    height: auto;
}

.text-image1 {
    margin-left: 20px;
}
.text-image1 h2 {
    font-size: 30px;
    font-weight: bolder;
    margin: 0;
    color: hsl(5, 85%, 63%);
}
.text-image1 h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.text-image1 p {
   margin: 0;
}

/* image 2 */
.container-image2 {
    display: flex;
    margin-top: -25px;
    width: 33%;
}

.image-2 img {
    width: 100px;
    height: auto;
}

.text-image2 {
    margin-left: 20px;
}
.text-image2 h2 {
    font-size: 30px;
    font-weight: bolder;
    margin: 0;
    color: hsl(5, 85%, 63%);
}
.text-image2 h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.text-image2 p {
    margin: 0;
 }
 

/* image 3 */

.container-image3 {
    display: flex;
   margin-right: 100px;
    margin-top: -25px;
    width: 33%;

}

.image-3 img {
    width: 100px;
    height: auto;
}

.text-image3 {
    margin-left: 20px;
}
.text-image3 h2 {
    font-size: 30px;
    font-weight: bolder;
    margin: 0;
    color: hsl(5, 85%, 63%);
}
.text-image3 h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.text-image3 p {
    margin: 0;
 }
 

#general-container {
    display: flex;
}
.hamburger {
    display: none;
}

@media (max-width: 768px) {

   
.navbar ul {
    display: none;
}
.navbar img {
    position: absolute;
    top: 15px;
    left: 15px;
}

.news {
    flex-direction: column;
}
.news img {
    width: 100%;
    height: 400px;
    margin-left: 0;
    object-fit: cover;
}


aside {
  width: 90%;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.u-image {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
 
}

.u-image .title {
width: 100%;
font-size: 500px !important;
}

.u-image .text {
    width: 100%;
}




#general-container {
    margin-top: 40px;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
}

.container-image1 {
    width: 100%;
    margin-left: 10px;
}
.container-image2 {
    width: 100%;
    margin-left: 10px;
    padding-top: 30px;

}
.container-image3 {
    width: 100%;
    margin-left: 10px;
    padding-top: 30px;
}

.hamburger {
    position: relative;
    display: flex;
    margin-left: 300px;
    bottom: 35px;
    cursor: pointer;


}





}